﻿@page
@model VUE.Pages.Admin.InsertProductModel
@{
}

<div class="container">
    <h1>Insert Product</h1>
    <h3>Admin Only</h3>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Form.ProductInsertName"></label>
            <input class="form-control" asp-for="Form.ProductInsertName" />
            <span asp-validation-for="Form.ProductInsertName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.ProductPrice"></label>
            <input class="form-control" asp-for="Form.ProductPrice" />
            <span asp-validation-for="Form.ProductPrice"></span>
        </div>

        <div class="form-group">
            <input asp-for="Form.File" />
            <span asp-validation-for="Form.File"></span>
        </div>

        <button type="submit" class="btn btn-primary">Insert</button>
    </form>
</div>
@*<insert-product></insert-product>*@