﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/ipack.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container">
                <div class="col-sm-2">
                    <a class="navbar-brand" href="~/Index">Shop</a>
                </div>
                @if (User.Identity.IsAuthenticated == true)
                {
                    <div class="navbar-collapse col-sm-8" id="navbarSupportedContent">
                        <a class="nav-link" href="~/Admin/InsertProduct">Insert</a>
                        <a class="nav-link" href="~/ViewProduct">Product</a>
                    </div>
                    <div class="col-sm-2">
                        <a href="@Url.Page("/Auth/Logout")">Logout</a>
                    </div>
                }
                else
                {
                    <div class="my-2 my-sm-0">
                        <a href="@Url.Page("/Auth/Login")">Login</a>
                        <a href="@Url.Page("/Register")">Register</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <main id="app" role="main">
        @RenderBody()
    </main>
    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
