@import "bootstrap";
@import "aspnet-validation";

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    #TabelProduct{
        /*padding-top: 15px;
        padding-bottom: 15px;*/
        text-align: center;
        /*td{
            width: 128px;
        }*/
        img{
            height: 512px;
            width: 100%;
        }
    }
}


// if you need a sidebar, use this: https://getbootstrap.com/docs/4.0/examples/dashboard/
