<template>
    <div>
        <div class="container">
            <div class="col-sm-12">
                <h1>Product</h1>
            </div>


            <div class="row">
                <div class="col-sm-4" v-for="product in allProduct" :key="product.productImage" id="TabelProduct">
                    <div class="card-deck">
                        <div class="card">
                            <img :src="getImage(product.productImage)" class="rounded" />
                            <div class="card-body">
                                <label name="ProductIdValue">{{product.productId}}</label>
                                <h5 class="card-title">
                                    {{product.productName}}
                                </h5>
                                <p class="card-text">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </p>
                            </div>


                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <button type="button" @click.prevent="getProductbyId(product.productId)" class="btn btn-primary" data-toggle="modal" :data-target="'#update'">Update</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
                                </li>
                            </ul>

                            <!--MODAL UPDATE-->
                            <div class="modal fade" :id="'update'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="FormUpdateTitle" class="col-form-label">Title:</label>
                                                    <input type="text" class="form-control" :value="updateForm.productName">
                                                </div>
                                                <div class="form-group">
                                                    <label for="FormUpdatePrice" class="col-form-label">Price:</label>
                                                    <input type="number" class="form-control" :value="updateForm.productPrice">
                                                </div>
                                                <div>
                                                    <input type="file" id="file" ref="file" @change="handleFileUpload" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button @click.prevent="updateProduct(product.productId)" type="button" class="btn btn-primary">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--MODAL DELETE-->
                            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <a>Are You Sure?</a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-danger">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { GetAllProductResponse, ProductInsertViewModel, ProductViewModel } from '../rest-api/models';
    import { MyAPI } from '../rest-api/myAPI';

    @Component({
        created: async function (this: Hello) {
            await this.loadProduct();
        }
    })
    export default class Hello extends Vue {
        allProduct: GetAllProductResponse = null;
        inputForm: ProductInsertViewModel = {};
        updateForm: ProductViewModel = {};
        isBusy: boolean = false;
        file: null;

        getImage(blobId: string) {
            return `/api/v1/image/${blobId}`;
        }

        updateId = 0;

        assignUpdateId(id: number) {
            this.updateId = id;
        }

        async loadProduct() {

            let api = new MyAPI({
                baseUri: window.location.origin
            });
            let result = await api.getAllProduct();

            this.allProduct = result;
        }
        async getProductbyId(id: number) {
            let api = new MyAPI({
                baseUri: window.location.origin
            });
            this.updateForm = await api.getProductbyId(id);
            console.log(id);
            console.log(this.updateForm.productName);
        }
        async updateProduct(id: number) {
            //let asdid = id;
            //console.log(asdid);
        }

        async handleFileUpload(event) {
            //this.file = this.$refs.file.file[0];
            console.log(event);
            this.file = event.target.files[0];
            console.log(this.file);
        }

    }
</script>
