<template>
    <div>
        <div class="container">
            <h1>Insert Product</h1>
            <h3>Admin Only</h3>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label></label>
                    <input class="form-control" v-model="newProductForm.productInsertName" placeholder="Product Name"/>
                </div>

                <div class="form-group">
                    <label></label>
                    <input class="form-control" v-model.number="newProductForm.productPrice" placeholder="Product Price"/>
                </div>

                <div class="form-group">
                    <input type="file" @change="handleFileUpload"/>
                </div>

                <button type="button" class="btn btn-primary" @click.prevent="insertProduct()">Insert</button>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { ProductInsertViewModel, IFormFile } from '../rest-api/models';
    import { MyAPI } from '../rest-api/myAPI';

    @Component({
    })
    export default class InsertProduct extends Vue {
        newProductForm: ProductInsertViewModel = {};
        file: null;
 
        async insertProduct() {

            let api = new MyAPI({
                baseUri: window.location.origin
            });
            let result = await api.insertProduct({ parameterProduct: this.newProductForm });


        }
        async handleFileUpload(event) {
            //this.file = this.$refs.file.file[0];
            console.log(event);
            this.file = event.target.files[0];
            
            this.newProductForm.file = this.file;
            console.log(this.newProductForm);
        }
    }
</script>
