<template>
    <div>
        <div class="container">
            <h1>Register Customer</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>UserName</label>
                    <input class="form-control" v-model="cutomerForm.customerUsername"  />
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" v-model="cutomerForm.customerPassword"  />
                </div>

                <div class="form-group">
                    <label>Role</label>
                    <input class="form-control" v-model="cutomerForm.customerRole" />
                </div>

                <button type="button" class="btn btn-primary" @click.prevent="register()">Insert</button>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { CustomerViewModel } from '../rest-api/models';
    import { MyAPI } from '../rest-api/myAPI';

    @Component({
        created: async function (this: Register) {
            
        }
    })
    export default class Register extends Vue {
        cutomerForm: CustomerViewModel = {};
        async register() {
            console.log("Mulai");
            let api = new MyAPI({
                baseUri: window.location.origin
            });
            console.log("Tengah");
            let result = await api.registerCustomer(
                {
                    parameterCustomer: this.cutomerForm
                });
            console.log("Berhasil");
            window.location.href = './Index';
        }
    }
</script>
