﻿@page
@model VUE.Pages.Auth.LoginModel
@{
}

<div class="container">
    <h1>LOGIN</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="Form.CustomerUserNameForm">Username</label>
            <input class="form-control" asp-for="Form.CustomerUserNameForm" />
            <span asp-validation-for="Form.CustomerUserNameForm"></span>

        </div>
        <div class="form-group">
            <label asp-for="Form.CustomerPasswordForm">Password</label>
            <input class="form-control" asp-for="Form.CustomerPasswordForm" type="password" />
            <span asp-validation-for="Form.CustomerPasswordForm"></span>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>