﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Page("/Auth/Logout")">Logout</a><br />

        <a href="@Url.Page("/Admin/InsertProduct")">Admin Insert</a><br />
    }
    else
    {
        <a href="@Url.Page("/Auth/Login")">Login</a><br />
    }
</div>
